/* ----- Carousel -------*/

.carousel {
    margin-bottom: 60px;

    &-container {
        margin: 3px 0;
        
        &-item{
            background: #fff;
            display: flex;
            flex-direction: row;
            width: 349px;
            height: 242px;
            margin: 0 5%;
            padding: 20px 27px;
            box-shadow: $shadows;
            border-radius: 5px;

            &-section--left {
                img {
                    width: 50px;
                    margin: 20px 20px 0 0;
                }
                flex: 1 1 20%;
            }

            &-section--right {
                display: flex;
                flex-direction: column;
                flex: 1 1 80%;
            }
            
            &__text {
                flex: 70%;
                margin-top: 35px;
                
                a {
                    font-size: 20px;
                    font-weight: $font-weight-semibold;
                    color: $text_color;
                }
            }

            &__post-data {
                flex: 30%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                font-family: $text_font;
                font-size: 14.5px;
                font-weight: $font-weight-regular;
                color: $link_color;

                span {
                    margin-right: 10px;
                }

            }

            &__image {
                border-radius: 50%;
                height: 30px;
                widows: 30px;
                margin-right: 10px;
                vertical-align: middle;
            }
        }
    }
}

.container {
    .slick-slider {
        
        .slick-next {
            right: -40px;
        }
        
        .slick-prev {
            left: -70px;
        }
        
        .slick-next:before, .slick-prev:before {
            font-size: 59px;
            color: $link_color;
        }
    } 
}

