/** Cards **/

.cards {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

  .card {
    @include mobile {
      margin: 10px auto;
      height: auto;
      padding: 10px 0;
      flex: 100%;
    }
    @include tablet { margin: 25px auto; }

    @include desktop { margin: 0 0 50px; }

    box-shadow: $shadows;
    border-radius: 5px;
    background: $background_color;
    text-decoration: none;
    color: $text_color;
    height: 301px;
    flex: 0 1 335px;
    position: relative;
    background: $background_color;
    margin: 0 0 50px;
    display: flex;
    flex-flow: column;

      &-empty {
        height: 1px;
        background-color: transparent;
        flex: 0 1 335px;
      }

      &-container {
        color: $text_color;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        padding: 29px 10px 0;

        @include mobile{
          flex-direction: row;
          padding: 0 10px;
          height: 70px;
        }
  
        .card__top {
          text-align: center;
          @include mobile{
            width: 70px;
          }

          .card__image {
            margin: 0 auto;
            height: 100%;
          }
        }
        .card__middle {
          margin: 19px auto 12px;
          font-size: 18px;
          font-weight: 700;
          text-align: center;

          @include mobile{
            display: flex;
            align-items: center;
            margin: auto auto auto 10px;
          }
  
        }
  
        .card__bottom {
          font-size: 17px;
          font-weight: 400;
          text-align: center;
          @include mobile{
            display: none;
          }
          .card__description {
            margin: 0;
          }
        }
      }

      &-hover {

        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: flex-start;
        position: absolute;
        border-radius: 5px;
        left: 0;
        bottom: 0;
        right: 0;
        top: 100%;
        height: 0;
        padding: 100% 30px 0 30px;
        z-index: -1;
        transition: height ease-in 0s, all ease-in 0.3s;
        a {
          color: transparent;
          font-size: 0;
        }
        .card-top {
          .card__title {
            color: transparent;
            font-size: 0;
          }
        }
        .card-middle {
          color: transparent;
          font-size: 0;
        }
      }
    @include tablet {
      &:hover {
        .card-top {
          .card__title {
            color: #ffffff;
            font-size: 20px;
          }
        }
        .card-middle {
          color: #ffffff;
          font-size: 16px;
        }
        .card-hover {
          background-color: $brand_color;
          top: 0;
          height: 100%;
          padding: 30px;
          line-height: 2;
          z-index: 0;
          transition: height ease-in 0s, all ease-in 0.3s;
          text-align: center;

          .card-top {
            text-align: center;
            width: 100%;
            margin-bottom: 10px;
            .card__title {
              font-weight: 600;
            }
          }
          .card__middle {
            justify-content: space-between;
            display: flex;
            flex-flow: column;
            width: 100%;
            a {
              color: #ffffff;
              font-size: 14px;
              margin-bottom: 5px;

              &.see-more {
                font-weight: 600;
              }

            }
          }
        }
      }
    }
  }
}