/** Cards **/

.cards {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  
    .card {
      @include mobile { margin: 25px auto; }

      @include tablet { margin: 25px auto; }
      
      @include desktop { margin: 0 0 50px; }

      box-shadow: $shadows;
      border-radius: 5px;
      background: $background_color;
      text-decoration: none;
      color: $text_color;
      height: 301px;
      flex: 0 1 335px;
  
      &-container {
        display: flex;
        flex-direction: column;
        padding: 29px 10px 24px;
  
        .card__top {
          text-align: center;
          .card__image {
            margin: 0 auto;
          }
        }
        .card__middle {
          margin: 19px auto 12px;
          font-size: 18px;
          font-weight: 700;
          text-align: center;
  
        }
  
        .card__bottom {
          font-size: 17px;
          font-weight: 400;
          text-align: center;

          .card__description {
            margin: 0;
          }
        }
      }
  }
  }