/***** Category pages *****/
.category {
  &-container {
    display: flex;
    justify-content: flex-end;
  }

  &-content {
    @include desktop {
      flex: 0 0 80%;
    }

    flex: 1;
  }
}

.section-tree {
  @include tablet { flex-direction: row; }
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  .section {
    @include tablet { flex: 0 0 45%; /* Two columns for tablet and desktop. Leaving 5% separation between columns */ }
    flex: initial;
  }

  &-title {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: $font-weight-semibold;

    a { color: $text_color; }
  }

  .see-all-articles {
    display: block;
    padding: 15px 0;
  }
}

.article-list {
  &-item {
    font-size: $font-size-bigger;
    padding: 15px 0;

    a { color: $text_color; }
  }
}

.icon-star {
  color: $brand_color;
  font-size: 18px;
}

.banner {
  width: 100%;
  height: auto;
  @include tablet { margin-top: 60px; }
}


.pro-join-community-banner__image {
  background-image: url($community_image_pros);
  height: 8.1vw;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;

  @include mobile {
    display: none;
  }

  .pro-join-community-banner__button {

    white-space: nowrap;
    position: absolute;
    background: #fff;
    color: $text_color;
    border: 2px solid $text_color;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    text-decoration: none;



    @include mobile {
      font-size: 0.875vw;
      height: 30.7%;
      width: 16.9%;
      top: 40%;
      right: 10%;
    }
    @include tablet {
      font-size: 0.875vw;
      height: 30.7%;
      width: 16.9%;
      top: 40%;
      right: 10%;
    }

    @include big-screen {
      height: 46px;
      width: 249px;
      font-size: 18px;
      top: 58px;
      right: 155px;
    }
  }
  .banner-community {

    &__text {
      display: flex;
      position: absolute;
      flex-flow: column;

      @include mobile {
        left: 13%;
        top: 28%;
      }
      @include tablet {
        left: 13%;
        top: 28%;
      }
      @include big-screen {
        left: 195px;
        top: 43px;
      }
      &_big {
        font-weight: bold;
        letter-spacing: -1px;
        @include mobile {
          font-size: 2.1vw;
          line-height: 2.1vw;
        }
        @include tablet {
          font-size: 2.1vw;
          line-height: 2.1vw;
        }
        @include big-screen {
          font-size: 40px;
          line-height: 40px
        }
      }
      &_medium {
        font-weight: 600;
        @include mobile {
          font-size: 1.40625vw;
        }
        @include tablet {
          font-size: 1.40625vw;
        }
        @include big-screen {
          font-size: 27px;
        }
      }
    }
  }
}

.second-banner {
  &.banners-container{
    display: flex;
    justify-content: space-between;
    margin: 0 5px;

    @include mobile {
      flex-flow: column;
    }
    @include tablet {
      flex-flow: row nowrap;
    }

    .second-banner {
      background-repeat: no-repeat;
      background-size: 100%;
      font-weight: 700;
      @include mobile {
        height: 83vw;
        margin-bottom: 20px;
      }

      @include tablet {
        flex-basis: 42vw;
        height: 13vw;
        padding: 2vw 0 2vw 2vw;
        line-height: 32px;
      }
      @include big-screen {
        flex: 0 1 728px;
        height: 223px;
        padding: 35px 0 35px 35px;
        line-height: 32px;
      }

      &--container-text {
        color: #fff;
        position: relative;
        height: 100%;
        width: 50%;
        float: left;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        @include mobile {
          width: 100%;
          padding: 7vw;
          text-align: center;
          justify-content: flex-start;
        }

      }

      &--left {
        &.client {
          @include mobile {
            background-image: url("$client_banner_left_mobile");
          }
          @include tablet {
            background-image: url("$client_banner_left");
          }
          @include big-screen {
            background-image: url("$client_banner_left");
          }
        }
        &.pros {
          @include mobile {
            background-image: url("$pros_banner_left_mobile");
          }
          @include tablet {
            background-image: url("$pros_banner_left");
          }
          @include big-screen {
            background-image: url("$pros_banner_left");
          }
        }
        &-first-text {
          font-size: 1.47059vw;
          margin-bottom: 10px;
          @include mobile{
            font-size: 8vw;
            line-height: 1.2;
            text-align: center;
          }
          @include tablet {
            font-size: 1.7vw;
            line-height: 1.5;
          }
          @include big-screen {
            font-size: 30px;
            line-height: 1.2;
          }

          br {
            @include mobile {
              display: none;
            }
          }
        }
        &-second-text {
          font-size: 22px;
          display: none;
        }
        a.button.button-large {
          width: 12.448vw;
          height: 2.206vw;
          font-size: 0.892856vw;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          @include mobile {
            width: 61.5vw;
            height: 8.5vw;
            top: 2vw;
            font-size: 4.5vw;
            margin: 0 auto;
          }
          @include tablet {
            bottom: -5px;
          }
        }
      }
      &--right {
        &.client {
          @include mobile {
            background-image: url("$client_banner_right_mobile");
          }
          @include tablet {
            background-image: url("$client_banner_right");
          }
          @include big-screen {
            background-image: url("$client_banner_right");
          }
        }
        &.pros {
          background-image: url("$pros_banner_right");
          @include mobile {
            background-image: url("$pros_banner_right_mobile");
          }

          .second-banner--container-text {
            a.button.button-large {
              @include mobile {
                width: 40vw;
              }
            }
          }
        }
        .second-banner--container-text {
          width: 60%;
          @include mobile {
            width: 100%;
            height: 100%;
          }

          a.button.button-large {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            bottom: -5px;
            @include mobile {
              width: 34.5vw;
              height: 6.5vw;
              top: 7vw;
              font-size: 2.5vw;
            }
            @include tablet {
              width: 14.8635vw;
              height: 2.206vw;
              font-size: 0.892856vw;
            }
            @include desktop {

            }
            @include big-screen {
              font-size: 15px;
            }
          }
        }
        &-first-text {
          @include mobile {
            font-size: 5.5vw;
            text-align: left;
          }
          > br {
            @include mobile {
              display: none;
            }
          }
          @include tablet {
            font-size: 1.7vw;
            line-height: 1.5;
          }
          @include desktop {

          }
          @include big-screen {
            font-size: 32px;
          }
        }
        &-second-text {
          line-height: 1.2;
          font-weight: 600;

          @include mobile {
            text-align: left;
          }
          @include tablet {
            font-size: 1.41vw;
            line-height: 1;
          }
          @include desktop {
          }
          @include big-screen {
            font-size: 20px;
          }

          > br {
            @include mobile{
              display: none;
            }
          }
        }
      }
    }
  }
}

.section__message {
  margin: 50px 0 50px;
  display: inline-block;
  width: 100%;
  justify-content: center;
  font-weight: 500;
  text-align: center;
  font-size: 26px;
  @include mobile {
    margin: 15px 0 15px;
    font-size: 20px;
  }
}

.container-articles {
  background: $background_color;
  box-shadow: $shadows;
  margin-bottom: 96px;

  @include mobile {
    margin-bottom: 30px;
  }

  .container {
    @include mobile {
      max-width: 90%;
      margin: 0 auto;
      padding: 20px 0;
    }
    @include tablet {
      padding: 50px 50px 30px;
    }
    @include desktop {
      padding: 87px 5% 50px;
    }
    @include big-screen {
      padding: 87px 0 50px;
    }

    > h3 {
      font-size: 35px;
      font-weight: 600;
      margin-bottom: 74px;

      @include mobile {
        margin-bottom: 30px;
        font-size: 25px;
        line-height: 25px;
      }
    }
  }

  .list-articles {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .popular-article {
      flex: 1 1 315px;
      display: flex;
      flex-flow: row;
      padding: 0 3vw 50px 0;
      @include mobile {
        flex: 1 1 768px;
      }
      &:nth-of-type(1n + 4) {
        @include mobile {
          display: none;
        }
      }
      .bunny-icon {
        margin-right: 10px;
        img {
          height: 37px;
        }
      }
      .popular-article-content {
        display: flex;
        flex-flow: column;
        &--title {
          font-size: 20px;
          font-weight: 600;

          @include mobile {
            font-size: 18px;
          }
          a {
            color: $text_color;
            text-decoration: none;
          }
        }
        &--excerpt {
          font-size: 15px;
          p {
            margin: 0 5px 0 0;
          }
          > * {
            font-weight: $font-weight-regular;
            font-size: 15px;
          }
        }
        &--more {
          font-size: 14px;
          a span > i.fas:before {
            color: $link_color;
          }
        }
      }
    }
  }

}