/***** Category pages *****/
.category {
  &-container {
    display: flex;
    justify-content: flex-end;
  }

  &-content {
    @include desktop {
      flex: 0 0 80%;
    }

    flex: 1;
  }
}

.section-tree {
  @include tablet { flex-direction: row; }
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  .section {
    @include tablet { flex: 0 0 45%; /* Two columns for tablet and desktop. Leaving 5% separation between columns */ }
    flex: initial;
  }

  &-title {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: $font-weight-semibold;

    a { color: $text_color; }
  }

  .see-all-articles {
    display: block;
    padding: 15px 0;
  }
}

.article-list {
  &-item {
    font-size: $font-size-bigger;
    padding: 15px 0;

    a { color: $text_color; }
  }
}

.icon-star {
  color: $brand_color;
  font-size: 18px;
}

.banner {
  width: 100%;
  height: auto;
  @include tablet { margin-top: 60px; }
}


.pro-join-community-banner__image {
  background-image: url($community_image_pros);
  height: 8.1vw;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;

  .pro-join-community-banner__button {
    font-size: 0.875vw;
    white-space: nowrap;
    position: absolute;
    background: #fff;
    color: $text_color;
    border: 2px solid $text_color;
    border-radius: 4px;
    top: 40%;
    right: 10%;
    height: 30.7%;
    width: 16.9%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
  }
  .banner-community {

    &__text {
      display: flex;
      left: 13%;
      top: 28%;
      position: absolute;
      flex-flow: column;
      &_big {
        font-size: 2.1vw;
        font-weight: bold;
        letter-spacing: -1px;
        line-height: 2.1vw;
      }
      &_medium {
        font-size: 1.40625vw;
        font-weight: 600;
      }
    }
  }
}

.second-banner {
  &.banners-container{
    display: flex;
    justify-content: space-between;
    margin: 0 5px;

    @include mobile {
      flex-flow: column;
    }
    @include tablet {
      flex-flow: row nowrap;
    }

    .second-banner {
      flex: 0 1 728px;
      height: 223px;
      background-repeat: no-repeat;
      background-size: 100%;
      font-weight: 700;
      padding: 35px 0 35px 35px;
      line-height: 32px;

      &--container-text {
        color: #fff;
        position: relative;
        height: 100%;
        width: 50%;
        float: left;
        display: flex;
        flex-flow: column;
        justify-content: space-between;

      }

      &--left {
        &.client {background-image: url("$client_banner_left");}
        &.pros {background-image: url("$pros_banner_left");}
        &-first-text {
          font-size: 1.47059vw;
          margin-bottom: 10px;
        }
        &-second-text {
          font-size: 22px;
          margin-bottom: 10px;
        }
        a.button.button-large {
          width: 12.448vw;
          height: 2.206vw;
          font-size: 0.892856vw;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          bottom: -15px;

        }
      }
      &--right {
        &.client {background-image: url("$client_banner_right");}
        &.pros {background-image: url("$pros_banner_right");}
        .second-banner--container-text {
          width: 60%;

          a.button.button-large {
            width: 14.8635vw;
            height: 2.206vw;
            font-size: 0.892856vw;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            bottom: -15px;
          }
        }
        &-first-text {
          font-size: 1.47059vw;
        }
        &-second-text {
          font-size: 22px;
        }
      }
    }
  }
}

.section__message {
  margin: 50px 0 50px;
  display: inline-block;
  width: 100%;
  justify-content: center;
  font-weight: 500;
  text-align: center;
  font-size: 26px;
}

.container-articles {
  background: $background_color;
  box-shadow: $shadows;
  margin-bottom: 96px;

  .container {
      padding: 87px 0 50px;
  }

  > h3 {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 74px;
  }
  .list-articles {
    display: flex;flex-flow: row wrap;
    justify-content: space-between;
    .popular-article {
      flex: 1 1 315px;
      display: flex;
      flex-flow: row;
      padding: 0 3vw 50px 0;
      .bunny-icon {
        margin-right: 10px;
        img {
          height: 37px;
        }
      }
      .popular-article-content {
        display: flex;
        flex-flow: column;
        &--title {
          font-size: 20px;
          a {
            color: $text_color;
          }
        }
        &--excerpt {
          font-size: 15px;
          p {
            margin: 0 5px 0 0;
          }
          > * {
            font-weight: $font-weight-regular;
            font-size: 15px;
          }
        }
        &--more {
          font-size: 14px;
          a span > i.fas:before {
            color: $link_color;
          }
        }
      }
    }
  }

}