/***** Community *****/
.community {
  &-hero {
    background-image: url($community_background_image);
    margin-bottom: 10px;
  }

  &-footer {
    padding-top: 50px;
    text-align: center;

    &-title {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }

  &-featured-posts .title {
    font-size: 18px;
    font-weight: 600;
  }

  &-featured-posts,
  &-activity {
    padding-top: 40px;
    width: 100%;
  }

  &-header {
    margin-bottom: 30px;

    .title {
      margin-bottom: 0;
      font-size: 16px;
    }
  }
}

.post-to-community {
  align-self: center;

  @include tablet { margin: 0; }

  @include desktop { margin: 10px 0 48px 0; }
}

/* Community topics grid */
.topics {
  max-width: none;
  width: 100%;

  &-item {
    .meta-group {
      justify-content: center;
      margin-top: 20px;
    }
  }
}

/* Community topic page */

.topic-header {
  @include tablet { padding-bottom: 10px; }
  border-bottom: 1px solid $border-color;
  font-size: $font-size-small;

  .dropdown {
    @include tablet {
      border-top: 0;
      display: inline-block;
      margin-right: 20px;
      padding: 0;
    }

    display: block;
    border-top: 1px solid $border-color;
    padding: 10px 0;
  }
}

.no-posts-with-filter {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Topic, post and user follow button */
.community-follow {
  @include tablet {
    margin-bottom: 0;
    width: auto;
  }

  margin-bottom: 10px;
  width: 100%;

  button {
    @extend .button;
    @include tablet { width: auto;}

    line-height: 30px;
    padding: 0 10px 0 15px;
    position: relative;
    width: 100%;

    &:hover { background-color: $brand_color; }

    &:hover::after, &:focus::after {
      border-color: $brand_text_color;
      color: $brand_text_color;
    }

    &[data-selected="true"] {
      background-color: $brand_color;
      color: $brand_text_color;

      &::after {
        border-left: 1px solid $brand_text_color;
        color: $brand_text_color;
      }

      &:hover {
        background-color: $hover-button-color;
        border-color: $hover-button-color;
      }
    }

    &::after {
      @include tablet {
        position: static;
      }

      border-left: 1px solid $button-color;
      content: attr(data-follower-count);
      color: $button-color;
      display: inline-block;
      font-family: $heading_font;
      margin-left: 15px;
      padding-left: 10px;
      position: absolute;
      right: 10px;

      [dir="rtl"] & {
        border-left: 0;
        border-right: 1px solid $button-color;
        margin: 0 10px 0 0;
        padding: 0 10px 0 0;
      }
    }
  }
}

.tag {
  background: #e1e2e6;
  color: #666666;
  padding: 10px 10px;
  margin: 10px 10px 0 0;
  border-radius: 4px;
  text-decoration: none;

  &--light {
    padding: 2px 10px;
  }
}

.community-topic-container {
  display: flex;
  
  @include mobile { flex-direction: column; }

  @include tablet{ flex-direction: row; }

  @include desktop { flex-direction: row; }

  &-left {
    flex: 65%;
    
    @include mobile {
      header > h1 { margin-top: 25px; }
    }
  }

  &-right {
    flex: 35%;
    padding-left: 5%;
    
    .topic-aside-top {
      @include mobile { display: none; }

      @include tablet { display: none; }

      @include desktop {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      &-text {
        text-align: center;
        font-size: 19px;
        font-weight: 200;
      }

      span > a {
        background: $link_color;
      }
    }

    .topic-aside-middle {
      border: 1px solid $bordercard_color;
      box-shadow: $shadows;
      padding: 20px 25px;

      .topic-aside-labels-section {
        h2 { font-weight: bold; }
      }

      .topic-aside-labels {
        display: flex;
        flex-wrap: wrap;
      }
    }

    .topic-aside-bottom {
      @include mobile { margin-bottom: 25px; }

      border: 1px solid $bordercard_color;
      box-shadow: $shadows;
      margin-top: 30px;

      .topic-aside-contributors-title {
        padding: 20px 24px;
        
        h2 { font-weight: bold; }
      }

      .topic-aside-contributors-cards {
        display: flex;
        flex-direction: column;

        .topic-aside-contributors-card {
          display: flex;
          flex-direction: row;
          padding: 25px;
          border-bottom: 1px solid #ddd;
          width: 90%;
          margin: 0 auto;

          .topic-aside-contributors-picture {
            flex: 1;
            display: flex;
          }

          .topic-aside-contributors-data {
            flex: 2;

            .topic-contributor-data-top {
              display: block;
              color: $link_color;
              text-decoration: none;
              font-weight: bold;
            }

            .topic-contributor-data-middle {
              display: block
            }

            .topic-contributor-data-bottom {
              display: flex;
              flex-direction: row;
              color: $link_color;

              span {
                width: 50%;
                align-self: flex-start;
              }
            }
          }
        }
      }
    }
  }
}

%user-avatar {
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

.topic-aside-avatar {
  @extend .user-avatar;
  height: 50px;
  width: 50px;
  margin: 0 auto;
}

.community-posts-user-avatar {
  @extend .user-avatar;
  height: 68px;
  width: 68px;
  margin-right: 30px;
}

.striped-list {
  border-top: 1px solid $border-color;
  margin-top: 60px;

  .striped-list-picture {
    align-self: flex-start;
  }
  
  .striped-list-info {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
  
    .striped-list-title {
      font-size: 24px;
      color: $text_color;
    }
    
    .striped-list-details {
      margin: 12px 0;
      font-size: 14px;

      & + a {
        font-size: 14px;
        font-weight: 700;
      }
    }
  }
}

.community-footer {
  margin-bottom: 70px;
  h2 {
    font-weight: bold;
  }
  a {
    background: $link_color;
  }
}

.description__text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 65px;

  &--firstline {
    text-align: center;
    margin: 0;
  }

  &--secondline {
    text-align: center;
    margin: 0;
  }
}

.articles-section-container {
  
  display: flex;
  flex-direction: row;

  &-posts {
    padding: 10px;
    flex: 1 0 1059px;
    border-radius: 5px;
    box-shadow: $shadows;

    > * {
      background: $background_color;
    }
  }

  &-aside {
    display: flex;
    flex-direction: column;
    flex: 1 0 413px;
    margin-left: 47px;

    > * {
      background: $background_color;
      margin-bottom: 47px;
    }

    &__image {
      background: url($community_banner_topic_list);
      background-size: 100%;
      height: 453px;
    }

    &__box {
      border-radius: 5px;
      box-shadow: $shadows;
      padding: 33px 25px;
    }
  }
}

ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
  height: 32px;
  
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px; 
	line-height: 31px; 
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px; 
	overflow: hidden;
	position: relative;
	background: #e0e0e0;
}
ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	border: 1px solid #fff; 
	outline: none;
}
ul.tabs li a:hover {
	background: #ccc;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  { 
	background: #fff;
	border-bottom: 1px solid #fff; 
}

.tab_container {
	border: 1px solid #999;
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left; width: 100%;
	background: #fff;
}
.tab_content {
	padding: 20px;
	font-size: 1.2em;
}
  
