/***** Community *****/
.community {
  &-hero {
    @include mobile {
      background-image: url($community_bg_image_mobile);
    }
    
    background-image: url($community_background_image);
    margin-bottom: 10px;
  }

  &-footer {
    padding-top: 50px;
    text-align: center;

    &-title {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }

  &-featured-posts .title {
    font-size: 18px;
    font-weight: 600;
  }

  &-featured-posts,
  &-activity {
    padding-top: 40px;
    width: 100%;
  }

  &-header {
    margin-bottom: 30px;

    .title {
      margin-bottom: 0;
      font-size: 16px;
    }
  }
}

.post-to-community {
  align-self: center;

  @include tablet { margin: 0; }

  @include desktop { margin: 10px 0 48px 0; }
}

/* Community topics grid */
.topics {
  max-width: none;
  width: 100%;

  &-item {
    .meta-group {
      justify-content: center;
      margin-top: 20px;
    }
  }
}

/* Community topic page */

.topic-header {
  @include tablet { padding-bottom: 10px; }
  border-bottom: 1px solid $border-color;
  font-size: $font-size-small;

  .dropdown {
    @include tablet {
      border-top: 0;
      display: inline-block;
      margin-right: 20px;
      padding: 0;
    }

    display: block;
    border-top: 1px solid $border-color;
    padding: 10px 0;
  }
}

.no-posts-with-filter {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Topic, post and user follow button */
.community-follow {
  @include tablet {
    margin-bottom: 0;
    width: auto;
  }

  margin-bottom: 10px;
  width: 100%;

  button {
    @extend .button;
    @include tablet { width: auto;}

    line-height: 30px;
    padding: 0 10px 0 15px;
    position: relative;
    width: 100%;

    &:hover { background-color: $brand_color; }

    &:hover::after, &:focus::after {
      border-color: $brand_text_color;
      color: $brand_text_color;
    }

    &[data-selected="true"] {
      background-color: $brand_color;
      color: $brand_text_color;

      &::after {
        border-left: 1px solid $brand_text_color;
        color: $brand_text_color;
      }

      &:hover {
        background-color: $hover-button-color;
        border-color: $hover-button-color;
      }
    }

    &::after {
      @include tablet {
        position: static;
      }

      border-left: 1px solid $button-color;
      content: attr(data-follower-count);
      color: $button-color;
      display: inline-block;
      font-family: $heading_font;
      margin-left: 15px;
      padding-left: 10px;
      position: absolute;
      right: 10px;

      [dir="rtl"] & {
        border-left: 0;
        border-right: 1px solid $button-color;
        margin: 0 10px 0 0;
        padding: 0 10px 0 0;
      }
    }
  }
}

.tag {
  background: #e1e2e6;
  color: #666666;
  padding: 10px 10px;
  margin: 10px 10px 0 0;
  border-radius: 4px;
  text-decoration: none;

  &--light {
    padding: 2px 10px;
  }
}

.community-topic-container {
  display: flex;
  
  @include mobile { flex-direction: column; }

  @include tablet{ flex-direction: row; }

  @include desktop { flex-direction: row; }

  &-left {
    flex: 65%;
    
    @include mobile {
      header > h1 { margin-top: 25px; }
    }
  }

  &-right {
    flex: 35%;
    padding-left: 5%;
    
    .topic-aside-top {
      @include mobile { display: none; }

      @include tablet { display: none; }

      @include desktop {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      &-text {
        text-align: center;
        font-size: 19px;
        font-weight: 200;
        margin-top: 50px;
      }

      span > a {
        background: $link_color;
      }
    }

    .topic-aside-middle {
      border: 1px solid $bordercard_color;
      box-shadow: $shadows;
      padding: 20px 25px;

      .topic-aside-labels-section {
        h2 { font-weight: bold; }
      }

      .topic-aside-labels {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}

.contributors-title {
  padding: 20px;
  font-size: 26px;
  font-weight: $font-weight-semibold;
}

.contributors {
  display: flex;
  flex-direction: column;
  
  // contributor card: card desde la posición 2 en adelante en el TOP
  &-card {
    display: flex;
    flex-direction: row;
    padding: 25px;
    border-bottom: 1px solid #ddd;
    width: 90%;
    margin: 0 auto;

    &-picture {
      flex: 1;
      display: flex;
    }

    &-data {
      flex: 2;

      &-top {
        display: block;
        color: $link_color;
        text-decoration: none;
        font-weight: $font-weight-semibold;
        font-size: 17px;
      }

      &-middle {
        display: block;
        font-size: 14.5px;
        font-weight: $font-weight-regular;
      }

      &-bottom {
        display: flex;
        flex-direction: row;
        color: $link_color;

        span {
          font-size: 11.5px;
          font-weight: $font-weight-regular;
          width: 50%;
          align-self: flex-start;
        }
      }
    }
  }


  //contributor card first: clase para el TOP contributor, primero en la lita
  &-card--first {
    background-image: url($img_sec_top_contributor);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    
    > * { color: white;}

    .contributors-card-picture {
      flex: 40%;
      display: flex;
    }

    .contributors-card-data {
      flex: 60%;
      display: flex;
      flex-direction: column;

      > * {
        flex: 1 1 33%;
      }

      .contributors-card-data-top {
        display: block;
        color: #fff;
        text-decoration: none;
        font-weight: $font-weight-semibold;
        font-size: 20px;
      }

      .contributors-card-data-middle {
        display: block;
        font-size: 14.5px;
        font-weight: $font-weight-regular;
        color: #fff;
      }

      .contributors-card-data-bottom {
        display: flex;
        flex-direction: row;
        color: #fff;
        font-size: 14.5px;
        font-weight: $font-weight-regular;

        span {
          width: 30%;
          align-self: flex-start;
        }

        .fas:before {
          color: #fff;
        }
      }
    }
  }
}

%user-avatar {
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

.contributors-avatar {
  @extend .user-avatar;
  height: 50px;
  width: 50px;
  margin: 0 auto;
}

// Foto del top contributor número 1
.contributors-avatar--first {
  @extend .user-avatar;
  height: 100px;
  width: 100px;
  margin: 0 auto;
}

.community-posts-user-avatar {
  @extend .user-avatar;
  height: 68px;
  width: 68px;
  margin-right: 30px;
}

.striped-list {
  border-top: 1px solid $border-color;
  margin-top: 60px;

  .striped-list-picture {
    align-self: flex-start;
  }
  
  .striped-list-info {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
  
    .striped-list-title {
      font-size: 24px;
      color: $text_color;
      text-decoration: none;
      font-weight: 600;
      text-transform: lowercase;

      &::first-letter {
        text-transform: uppercase;
      }
    }
    .container--striped-list-details {
      margin: 10px 0 20px;
    }
    .striped-list-details {
      font-size: 18px;

      & + a {
        font-size: 14px;
        font-weight: 700;
        white-space: nowrap;
      }
    }
  }
}

.community-footer {
  h2 {
    font-weight: 600;
  }
  a {
    background: $link_color;
    max-width: 274px;
    margin: 0 auto;
    height: 37px;
  }
}

.description__text {
  display: flex;
  justify-content: center;
  flex-direction: column;

  @include mobile{
    margin: 54px 0 10px 0;

  }
  @include tablet {
    margin: 54px 0 30px 0;

  }
  @include desktop {
    margin: 54px 0 65px 0;

  }

  &--firstline {
    text-align: center;
    margin: 0;

    @include mobile{
      font-size: 20px;
      margin: 20px auto;
    }
    @include tablet {

    }
    @include desktop {

    }
  }

  &--secondline {
    text-align: center;
    margin: 0;
  }
}

.articles-section-container {
  
  display: flex;

  @include mobile { flex-flow: row wrap; }

  @include tablet{ flex-flow: row wrap;} 
  
  @include desktop{ flex-flow: row nowrap; }

  &-posts {
    flex: 1 1 1059px;
    max-width: 100%;

    @include mobile {
      display: none;
    }

    .posts-list {
      .striped-list-title {
        color: $text_color;
        font-size: 24px;
        font-weight: $font-weight-semibold;
        text-decoration: none;
        text-transform: lowercase;

        &::first-letter {
          text-transform: uppercase;
        }
      }
      .meta-group {
        a {
          font-size: 16px;
          font-weight: $font-weight-semibold;
        }
      } 
      .striped-list-details,
      a,
      .striped-list-details p {
        font-size: 18px;
        line-height: 27px;
        font-weight: $font-weight-regular;
        display: inline-block;
        margin: 0;

      }
      
      a {
        font-size: 15px;
      }
      
      .striped-list-info-body {
        margin: 20px 0;

        & ~ div {
          position: absolute;

        }
      }
      .header--post-data {
        span {
          font-size: 14.5px;
          font-weight: $font-weight-regular;
        }
      }
    }
  }

  &-aside {
    @include mobile { margin: 0 auto; }

    @include tablet { margin: 0 auto; }

    @include desktop { margin-left: 47px; }
    
    display: flex;
    flex-direction: column;
    flex: 1 1 413px;
    max-width: 100%;

    > * {
      background: $background_color;
      margin-bottom: 47px;
    }

    &__image {
      background: url($community_banner_topic_list);
      height: 451px;
      max-width: 100%;
      width: calc(451px * 0.91);
      background-repeat: no-repeat;
      background-position: center;
      margin-top: 51px;
      border-radius: 5px;
      margin-left: auto;
      margin-right: auto;
    }

    &__box {
      border-radius: 5px;
      box-shadow: $shadows;
      padding: 33px 28px;

      @include mobile{
        display: none;
      }

      .community-activity, .activity {
        padding: 0;
        border: none;
      }
    }

    &__contributors {
      box-shadow: $shadows;
      display: flex;
      flex-direction: column;
    }
  }
}

ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
  //height: 32px;
  width: 100%;
  color: $link_color;
}
ul.tabs li {
  float: left;
  margin: 0;
  padding: 0;
  line-height: 31px;
  margin-bottom: -1px;
  overflow: hidden;
  position: relative;
  background: #fff;
  margin-right: 5px;
  border: 1px solid #eee;
  display: flex;
}

ul.tabs li:first-child {
  height: 55px;
  width: 117px;
}

ul.tabs li:last-child {
  height: 55px;
  width: 108px;
}

ul.tabs li a {
  text-decoration: none;
  display: block;
  font-size: 24px;
  padding: 10px 20px;
  outline: none;
  height: 100%;
  font-weight: $font-weight-semibold;
  margin:0 auto;
}

.articles-section-container .articles-section-container-posts .tabs .active {
  background-color: #fff;
  border-bottom: 1px solid #fff;

  a {
    color: $text_color;
  }
}

.tab_container {
  border-top: none;
  overflow: hidden;
  clear: both;
  float: left; width: 100%;
  background: #fff;
  border: 1px solid $border-color;

  .recent-section,
  .top-section {
    .posts-list {
      section:last-child {
        .striped-list-item {
          border-bottom: none;
        }
      }
    }
  }

}
.tab_content {
	padding: 20px;
	font-size: 1.2em;
}
  
.h3 {
  font-size: 28px;
  font-weight: $font-weight-semibold;
  @include mobile{
    font-size: 20px;
    text-align: center;
  }
  @include tablet {

  }
  @include desktop {

  }
}

.community-banner-aside--text {
  color: #fff;
  position: relative;
  width: 82%;
  top: 265px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  align-items: center;

  &-first {
    font-size: 27px;
    font-weight: $font-weight-extrabold;
  }

  &-second {
    font-size: 16px;
    font-weight: $font-weight-regular;
    text-align: center;
    margin-bottom: 20px;
  }

  .shine-with-us-button {
    height: 38px;
  }
}

.config-post {
  > div {
    display: inline-block;

    button {
      border: none;
      background-color: transparent;

      &:focus {
        outline: none;
      }
    }
  }
}

.community-posts-list {
  .posts-list.striped-list {
    border-top: none;
  }
}