/***** Footer *****/

.footer {
  border-top: 1px solid $border-color;
  margin-top: 60px;
  padding: 30px 0 15px 0;
  background-color: $brand_background_color;

  a { color: $secondary-text-color; }

  &-inner {
    @include max-width-container;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    .footer__column {
      display: flex;
      flex-flow: column nowrap;
      flex-grow: 1;
      align-items: flex-start;

      .title { 
        color: $brand_text_color;
        font-size: 14px;
        font-weight: 600;
        line-height: 15.4px;
        padding-bottom: 10px;
      }

      a { 
        color: $link-color; 
        font-size: 12px;
        font-weight: 600;
        line-height: 20.4px;
        padding-bottom: 4px;
      }

      a:hover {
        text-decoration: none;
      }
    }
  }

  &-top {
    .footer-language-selector {
      flex-grow: 2;
      color: $secondary-text-color;
      display: flex;
      //justify-content: flex-start;
      font-weight: $font-weight-light;

      select {
        display: none;
        width: 50%;
      }
      
    }
  }

  &-middle {
    display: flex;
    justify-content: center;
    
    .logo-footer {
      margin-top: 20px;
      padding-bottom: 20px;

      img {
        height: 36px;
        max-width: 100%;
        vertical-align: middle;
        padding-left: 20px;
      }
    }
  }

  &-bottom {
    display: flex;
    justify-content: center;
    font-size: 12px;
    line-height: 1.43;
    margin: 0 auto;
    font-style: normal;

    & * { padding-left: 5px; }
    span { color: $brand_text_color; }

    span::before {
      content : "©";
      color: rgb(141, 146, 148);
    }

    a { color: $link-color; }

    a::before {
      content: " • ";
      color: #fff;
    }

    a:hover { text-decoration: none; }
  }

}
