/***** Homepage *****/
main {
  background: $background_color_second;
}

.section {
  @include tablet {
    margin-bottom: 60px;
  }

  margin-bottom: 40px;
}

.home-section h2 {
  margin-bottom: 10px;
  text-align: center;
}

/***** Promoted articles *****/

.promoted-articles {
  @include desktop { flex-direction: row; }
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  &-item {
    @include desktop {
      align-self: flex-end;
      flex: 0 0 auto;
      padding-right: 30px;
      width: 33%; /* Three columns on desktop */

      [dir="rtl"] & { padding: 0 0 0 30px; }
    }

    flex: 1 0 auto;

    &:nth-child(3n) {
      padding-right: 0;
    }

    a {
      display: block;
      border-bottom: 1px solid $border-color;
      padding: 15px 0;
      color: $text_color;
    }

    .icon-lock {
      vertical-align: baseline;
    }

    &:last-child a {
      @include desktop {
        border-bottom: 1px solid $border-color;
      }

      border: 0;
    }
  }

}

/***** Community section in homepage *****/
.community {
  text-align: center;

  &-image {
    min-height: 300px;
    background-image: url($community_image);
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
  }
}

.community,
.activity {
  border-top: 1px solid $border-color;
  padding: 30px 0;
}

.cards {

  display: flex;
  flex-direction: row;

  .card {

    box-shadow: $shadows;
    
    @include mobile {
      width: 100%;
    }

    @include tablet {
      width: 30%;
    }

    @include desktop {
      width: 23%;
    }

    border: 1px solid $bordercard_color;
    border-radius: 5px;
    background: $background_color;

    .card-container {
      padding: 5% 10%;
      display: flex;
      flex-direction: column;

      .card__top {
        width: 100%;

        .card__image {
          width: inherit;
        }
      }
      .card__middle {
        text-align: center;

      }

      .card__bottom {
        text-align: center;
      }
    }
}
}

.home__bottom-articles {
  background: $background_color;
  box-shadow: 0px 0px 6px grey;

  @include mobile { padding: 10px 6%; }
  
  @include tablet {
    padding: 4% 109px;
  }

  @include desktop {
    padding: 4% 109px;
  }

  h3 {
    font-size: 25px;
    font-weight: bold;
  }
}

.home__publicity {
  
  display: flex;
  padding: 75px 0 60px 0;

  @include mobile {
    flex-direction: column;
  }

  @include tablet {
    flex-direction: column;
  }

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
  }

  > * {
    background: #fff;
  }

  .section__image {
    height: 100px;  
    box-shadow: $shadows;

    @include mobile {
      width: 100%;
      margin: 10px 0;
    }

    @include tablet {
      width: 100%;
      margin: 10px 0;
    }

    @include desktop {
      width: 40%;
    }
  }
}

.popu-articles {

  display: flex;
  
  @include desktop {
    flex-flow: row nowrap;
  }
  
  @include tablet {
    flex-flow: row wrap;
  }

  @include mobile{
    flex-direction: column;
  }

  .popu-article {

    padding: 2.7% 0;
    color: $text_color;

    @include mobile {
      width: 100%;
    }

    @include tablet {
      width: 33%;
      padding-right: 3%;
    }

    @include desktop {
      width: 25%;
      padding-right: 8%;
    }

    .article-container {

      display: flex;
      flex-direction: column;

      .article__top {
        
        h4 {
          margin: 0 0 5px 0;
          font-size: 16px;
          font-weight: bold;
          line-height: 15px;
        }
      }

      .article__middle {
        p {
          margin: 0px;
          line-height: 14px;
          font-size: 13px;
        }
      }

      .article__bottom {

        a {
          font-size: 12px;
          text-decoration: none;
        }

        a::after {
          content: " >";
          color: $link_color;
        }
      }
    }
  }
}

.section__message {
  display: inline-block;
  width: 100%;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  color: $text_color;
}