/***** Metadata *****/
.meta-group {
  display: block;
  margin-top: 5px;

  &--wide {
    padding: 34px 0 8px 5px;

    .post-vote-up {
      border: none;
      background-color: transparent;
      color: $link_color;
      padding-left: 0;

      &:focus {
        outline: none;
      }
    }
  }
}

.meta-group {
  > *:not(.status-label) {
    display: inline;
    font-family: inherit;
    color: $link_color;
  }
  span {
    margin-right: 10px;
    &.author-post {
      font-weight: 600;
    }
  }

  &--status-label {

    status-label {
      position: relative;
    }

  }
}

.meta-data {
  color: $secondary-text-color;
  font-size: $font-size-small;
  font-weight: $font-weight-light;

  &:not(:last-child)::after {
    content: "\00B7";
    margin: 0 5px;
  }
}
