.menu-categories {
  width: 100%;
  .nav {
    max-width: 560px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: 84px 88px;
    &--arrow-left {
      grid-column: 2 / span 2;
      grid-row: 1 / span 1;
      justify-self: flex-end;
      align-self: flex-end;
    }
    &--arrow-rigth {
      grid-column: 6 / span 2;
      grid-row: 1 / span 1;
      justify-self: flex-start;
      align-self: flex-end;
    }
    &--text-profile {
      font-size: 37px;
      font-weight: bold;
      grid-column: 4 / span 2;
      grid-row: 1 / span 1;
      justify-self: center;
      align-self: center;
    }
    &--button-client {
      grid-column: 1 / span 4;
      grid-row: 2 / span 1;
      justify-self: flex-start;
    }
    &--button-pros {
      grid-column: 5 / span 4;
      grid-row: 2 / span 1;
      justify-self: flex-end;
    }
    img {
      max-width: 100%;
    }
  }
}