/***** Post *****/
/*
* The post grid is defined this way:
* Content | Sidebar
* 70%     | 30%
*/
.post {
  @include desktop {
    flex: 1 0 70%;
    max-width: 70%;
    padding-right: 90px;
  }

  flex: 1;
  margin-bottom: 10px;

  &-container {
    @include mobile {
      flex-direction: column;
    }

    @include tablet {
      flex-direction: column;
    }

    @include desktop {
      flex-direction: row;
    }

    display: flex;
    flex-direction: column;
  }

  &-header {
    @include tablet {
      align-items: baseline;
      flex-direction: row;
    }
    .status-label { vertical-align: super; }
  }

  &-title {
    width: 100%;

    h1 {
      font-size: 35px;
      font-weight: bold;
    }

    @include tablet {
      margin-bottom: 0;
      padding-right: 10px;
    }

    @include desktop {
      margin-bottom: 20px;
    }

    h1 {
      @include tablet { margin-right: 5px; }
      display: inline;
      vertical-align: middle;
    }
  }

  &-author {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    height: 96px;
  }

  &-avatar {
    margin-right: 17px;
  }

  &-content {
    line-height: 29px;
    font-size: 18px;
    padding-top: 20px;
  }

  &-info-container {
    display: flex;
    margin-bottom: 40px;
  }

  &-info {
    min-width: 0;
    padding-right: 20px;
    width: 100%;

    [dir="rtl"] & {
      padding-right: 0;
      padding-left: 20px;
    }
  }

  &-meta {
    display: inline-block;
    flex: 1;
    margin-left: 10px;
    padding-top: 10px;
    vertical-align: middle;

    span[title] {
      color: $link_color;
      font-weight: 600;
    }

    [dir="rtl"] & {
      margin-left: 0;
      margin-right: 10px;
    }

    span > a {
      font-size: 17px;
      font-weight: 600;
    }

    &__data {
      color: $link_color;
    }
  }

  &-body {
    @include content-body;
  }

  &-footer {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    border-bottom: 1px solid #ddd;

    &__button {
      margin: 0 25px 0 0;
    }
  }

  &-comment-count {
    color: $secondary-text-color;
    font-weight: $font-weight-light;

    &:hover {
      text-decoration: none;
    }

    .icon-comments {
      color: $brand_color;
      display: inline-block;
      width: 18px;
      height: 18px;
      margin: 5px;
      vertical-align: middle;
    }
  }

  &-share {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 10px;
    cursor: pointer;

    > span {
      color: $link_color;
    }

    .post-share {
      display: none;
      position: absolute;
      bottom: -35px;
      height: 40px;
      left: 25px;
      box-shadow: 3px 3px 5px #5f6275;
      padding: 10px;
      svg * {
        color: $label_icon_color;
      }
    }

    &:hover {
      .post-share {
        z-index: 3;
        display: block;
      }
    }
  }
  &-sidebar {
    @include mobile { flex-direction: column; }

    @include tablet { flex-direction: column; }

    @include desktop {
      border: 0;
      flex: 1 0 30%;
      text-align: initial;
      flex-direction: column;

      [dir="rtl"] & { padding: 0 50px 0 0; }
    }

    border-top: 1px solid $border-color;
    flex: 1;
    text-align: center;
    display: flex;
    padding: 12px 0 30px 10px;

    &__text {
      font-size: 15px;
      text-align: center;
    }

    &__button {
      a {
        @include mobile { margin: auto; }

        @include tablet { margin: auto; }

        @include desktop { margin: 0 18%; }
        
        padding: 0 15px;
        line-height: 1.8;
      }
    }

    &__title {
      margin: 75px 0 30px 0;
      font-size: 25px;
      font-weight: bold;
    }
  }

  &-comments {
    @include desktop { margin: 50px 0 65px 0; }

    margin: 50px 0 65px 0;
    padding: 30px 25px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
}
