/***** Recent activity *****/

.recent-activity {
  &-header {
    font-size: 26px;
    font-weight: $font-weight-semibold;
  }

  &-list { padding: 0; }

  &-item {
    border-bottom: 1px solid $border-color;
    overflow: auto;
    padding: 42px 0;
  }

  &-item-parent {
    font-size: $font-size-bigger;
    display: none;
  }

  //&-item-parent,
  &-item-link {
    @include tablet {
      width: 100%;
      margin: 0;
    }

    margin: 6px 0;
    color: $text_color;
    display: inline-block;
    width: 100%;
    font-size: 16px;
    font-weight: $font-weight-semibold;
  }

  &-item-link {
    font-size: 14px;
    font-weight: $font-weight-bold;
    margin-bottom: 10px;
  }

  &-item-meta {
    @include tablet {
      margin: 0;
      float: right;

      [dir="rtl"] & { float: left; }

    }

    @include desktop {
      float: left;
    }

    margin: 15px 0 0 0;
    float: none;
    
    .recent-activity-item-time { 
      color: $link_color; 
      font-size: 12.5px;
      font-weight: $font-weight-semibold;
    }
  }

  &-item-time,
  &-item-comment {
    color: $secondary-text-color;
    display: inline-block;
    font-size: $font-size-small;
    font-weight: $font-weight-light;
  }

  &-item-time::before {
    content: "\f017";
    color: #5f6275;
    margin-right: 5px;
    font-size: 14.5px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
  }

  &-item-comment {
    display: none;
    padding-left: 5px;

    [dir="rtl"] & { padding: 0 5px 0 0; }

    &::before {
      display: inline-block;
    }
  }

  &-controls {
    padding-top: 15px;
  }

  &-accessibility-label {
    @include visually-hidden;
  }

  &-comment-icon {
    svg {
      vertical-align: middle;
      color: $brand_color;
      width: 16px;
      height: 16px;
    }

    &:after {
      content: attr(data-comment-count);
      margin-left: 3px;
      
      [dir="rtl"] & {
        margin-left: 0;
        margin-right: 3px;
      }
    }
  }
}
