/***** Search field *****/
$input-color-border: #c7c9d8;
$input-submit-height: 35px;
$input-placeholder-color: #77777777;
.search {
  position: relative;

  input[type="search"] {

    @include mobile {
      width: 100%;
    }

    border: 1px solid $border-color;
    border-radius: 5px;
    box-sizing: border-box;
    color: $field-text-color;
    height: $input-submit-height;
    padding-left: 40px;
    padding-right: 20px;
    -webkit-appearance: none;
    width: 350px;

    [dir="rtl"] & {
      padding-right: 40px;
      padding-left: 20px;
    }

    &:focus {
      border: 3px solid $input-color-border;
      color: $field-text-focus-color;
    }
  }

  &-full {
    input[type="search"] {
      border: 2px solid $input-color-border;
      width: 80%;

      &::placeholder {
        color: $input-placeholder-color;
      }
    }
    input[type="submit"] {
      width: 19%;
      min-width: auto;
      height: $input-submit-height;
      font-weight: 600;
      font-size: 17px;
      padding: 0;
    }

  }
}

.search-icon {
  @include vertical-align;
  position: absolute;
  left: 15px;
  z-index: 1;
  width: 18px;
  height: 18px;
  color: $input-placeholder-color;

  [dir="rtl"] & {
    right: 15px;
    left: auto;
  }
}

.search-container {
  position: relative;
}
