.sub-nav {
  @include mobile { margin-bottom: 40px; }

  @include tablet {
    align-items: baseline;
    flex-direction: row;
  }

  @include desktop { margin-bottom: 20px; }

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 24px;
  min-height: 50px;
  padding-bottom: 15px;
  height: 80px;

  //Inner pages search field
  input[type="search"] {
    @include tablet {
      min-width: 300px;
    }

    &::after { font-size: $font-size-base; }
  }

  .breadcrumbs {
    li > a {
      color: #5e6174;
    }
  }

  .search-container {

    @include mobile {
      align-self: normal;
    }
    
    align-self: flex-end;
  }

  &--centered {
    justify-content: center;
    text-decoration: none;
    list-style: none;
    display: none;
    justify-content: space-between;
    padding: 0 126px;
    font-size: 20px;
  }
}
